:root {
  --primary-color: #53bfc3;
  --secondary-color:  #4c9899;
  --color-red: #d93737;
  --color-gray: #707070;
  --color-dark-gray: #222222;
  --border-gray-01: #e0e0e0;
  --background-light-blue: #e9f2f2;
}
body {
  margin: 0;
  font-size: 14px;
  box-sizing: border-box;
}

/* class  */
.flex {
  display: flex;
  column-gap: 0.5rem;
}
.text-center {
  text-align: center;
}
.font-primary {
  color: var(--primary-color);
}
.font-red {
  color: var(--color-red);
}
.fw-600 {
  font-weight: 600;
}
.fw-500 {
  font-weight: 500;
}


/* form */
.form_wrap {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100vw;
  height: 100%;
  max-width: 360px;
  margin: 1rem auto;
  padding: 0 12px;
  box-sizing: border-box;
}
.form_wrap form {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.form_wrap form > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form_wrap form > div label,
.form_wrap form > div fieldset legend {
  color: var(--color-dark-gray);
}
.form_wrap form > div fieldset legend {
  margin-bottom: 0.5rem;
}
.form_wrap form > div input {
  border: 1px solid var(--border-gray-01);
  padding: 0 12px;
  line-height: 38px;
  border-radius: 3px;
  margin-top: 0.5rem;
}
.form_wrap form > div fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 0.5rem;
}
.form_wrap form > div fieldset select {
  border: 1px solid var(--border-gray-01);
  line-height: 38px;
  height: 38px;
  border-radius: 3px;
}
.form_wrap .helptext {
  font-size: 12px;
  color: var(--color-gray);
  margin-top: 4px;
}
.form_wrap .btn {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin-top: 0.5rem;
  line-height: 2.75rem;
}
.form_wrap input[type="file"] {
  border:0;
  background: none;
  padding: 0;
}
.form_wrap input[type="file"]::placeholder{
  padding-left: .5rem;
}

/* button */
.btn,
a.btn {
  line-height: 2.25rem;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn.btn-text.font-primary:hover {
  color: var(--secondary-color);
}
.btn.btn-primary:hover {
  background-color: var(--secondary-color);
}

.btn:disabled {
  cursor: default !important;
}
.btn.btn-primary,
a.btn.btn-primary {
  background: var(--primary-color);
  border: 0;
  color: #fff;
}
a.btn {
  text-decoration: none;
}
.btn.btn-text,
a.btn.btn-text {
  background: none;
}
.btn.btn-outlined-primary,
a.btn.btn-outlined-primary {
  background: #fff;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.profile_img {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/* nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px;
  font-weight: 500;
  border-bottom: 1px solid var(--border-gray-01);
  height: 44px;
}
nav > button,
nav > a {
  font-size: 15px;
  font-weight: 600;
  color: var(--primary-color);
}
nav > .btn.btn-text:hover {
  color: var(--secondary-color);
}
nav > div {
  display: flex;
  column-gap: .5rem;
}
nav .nav_user {
  cursor: pointer;
  color: var(--primary-color);
}

nav .nav_user{
  margin-left: 0.25rem;
  transition: all 0.2s ease;
  line-height: 24px;
  text-decoration: underline;
}
nav .nav_user:hover {
  color: var(--secondary-color);
}
nav .nav_logout {
  display: flex;
}