{% extends "layout.html" %}
{% load static %}

{% block style %}
  <style>
    .chat-container {
      width: 100%;
      background: var(--background-light-blue);
      height: calc(100vh - 120px);
      padding-top: 10px;
      min-height: 100px;
    }
    .input-container {
      display: flex;
      column-gap: 0.5rem;
      margin:8px 8px;
    }

    .input-container input {
      flex: 1;
      border: 1px solid #ccc;
      border-radius: 4px;
      line-height: 40px;
      padding: 0 1rem;
    }

    .input-container input:disabled{
      background: #f5f5f5;
    }

    .input-container input:focus {
      outline: none;
    }

    .input-container .btn.btn-primary {
      width: 96px;
      padding: 10px;
      border: none;
      color: white;
      border-radius: 4px;
      cursor: pointer;
      line-height: initial;
    }

    .chat-box {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-y: auto;
    }

    .chat-message {
      margin: 0.5rem 1rem 0 1rem;
    }

    .chat-message .chat-info{
      display: flex;
      align-items: flex-end;
      column-gap:1rem;
      height: 44px;
    } 

    .chat-message .chat-info p{
      position: relative;
      line-height: 38px;
      font-size: 13px;
      color: var(--color-gray);
      margin:0;
      margin-left: 50px;
    }

    .chat-message .chat-info p:before {
      position: absolute;
      width: 40px;
      height: 40px;
      content: url('/static/img/icon-profile-bot.svg');
      display: block;
      left: -50px;
      top: -10px;
    }
    .chat-message .chat-bubble {
      font-size: 13px;
      padding: .625rem 1.25rem;
      display: inline-block;
      border-radius: 0 20px 20px;
      background: #fff;
      line-height: 20px;
      max-width: 90%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    }

    .chat-message.user-message .chat-info {
      justify-content: right
    }

    .chat-message.user-message .chat-info p {
      margin-left: 0;
      margin-right: 50px;
    }

    .chat-message.user-message .chat-info p {
      margin-left: 0;
      margin-right: 50px;
    }

    .chat-message.user-message .chat-bubble {
      border-radius: 20px 0 20px 20px;
      float: right;
      background: #737d88;
      color: #fff;
      }

    .chat-message.user-message .chat-info p:before {
      right: -50px;
      left: initial;
      content: url('/static/img/icon-profile.svg');
    }
    
    #send-button {
      font-size: 15px;
    }
    
    .chat-chip {
      display: flex;
      column-gap: .5rem;
      margin-top: 10px;
    }
    
    .chat-chip button {
      background: #5ccace;
      color: #ffffff;
      border-radius: 20px;
      border: none;
      line-height: 1.875rem;
      padding: 0 1.25rem;
      font-size: 13px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
      cursor: pointer;
    }
    
    .intro-chat.chat-message .chat-info {
      height: 50px;
      margin: .5rem 0 .75rem;
    }

    .img-bot{
      width:80px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="chat-container">
    <div id="chat-box" class="chat-box">
    </div>
    <div class="input-container">
      <input type="text" id="chat-input">
      <button id="send-button" class="btn btn-primary">전송</button>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    const sendButton = document.getElementById("send-button");
    const userInput = document.getElementById("chat-input");
    const chatBox = document.getElementById("chat-box");

    function createMessageElement(time, message, isUser = false) {
      const messageElement = document.createElement("div");
      messageElement.classList.add("chat-message");
      if (isUser) messageElement.classList.add("user-message");
  
      const messageInfo = document.createElement("div");
      messageInfo.classList.add("chat-info");
  
      const timeElement = document.createElement("p");
      timeElement.textContent = time;
      messageInfo.appendChild(timeElement);
      messageElement.appendChild(messageInfo);
  
      const messageBubble = document.createElement("div");
      messageBubble.classList.add("chat-bubble");
      messageBubble.textContent = message;
      messageElement.appendChild(messageBubble);

      return messageElement;
  }
  
  function getCurrentTime() {
      const now = new Date();
      const hours = String(now.getHours()).padStart(2, '0');
      const minutes = String(now.getMinutes()).padStart(2, '0');
      return `${hours}:${minutes}`;
  }
  
  async function askQuestion(query) {
      let question = ''

      if (query) question = query;
      else question = userInput.value.trim();
      
      if (!question) return;
  
      const time = getCurrentTime();
      const userMessage = createMessageElement(time, question, true);

      chatBox.appendChild(userMessage);
  
      userInput.value = "";
      userInput.disabled = true;
  
      try {
          const response = await fetch("/chat/get-answer", {
              method: "POST",
              headers: {
                  "Content-Type": "application/json"
              },
              body: JSON.stringify({ question })
          });
  
          const data = await response.json();

          const respondTime = getCurrentTime();
          const botMessage = createMessageElement(respondTime, data.answer);
          chatBox.appendChild(botMessage);
      } catch (error) {
          const respondTime = getCurrentTime();
          const botMessage = createMessageElement(respondTime, "알 수 없는 오류가 발생했습니다.");
          chatBox.appendChild(botMessage);
      }
  
      userInput.focus();
      userInput.disabled = false;
      chatBox.scrollTop = chatBox.scrollHeight;
  }

    // eventListener 추가 : submit - 1. '전송' 버튼 click 2. chat-input에 focus 잡혀 있을떼 enter 입력
    sendButton.addEventListener("click", async () =>await askQuestion());
    userInput.addEventListener('keydown', async (e)=> {
      if (e.key === "Enter" && !e.shiftKey) await askQuestion()
    }, true);
    
    document.addEventListener('DOMContentLoaded', ()=> {
      setTimeout(introduceChatbot, 500);
      userInput.focus();
    })
  </script>
{% endblock %}
