<!-- templates/layout.html -->
{% load static %}

<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <title>
      {% block title %}Lawbot - 세법 챗봇{% endblock title %}
    </title>
    {% block style %}{% endblock style %}
  </head>

  <body>
    {% if user.is_authenticated %}
      <nav>
        {% if '/profile/' in request.path %}
          <a class="btn btn-text" href="/">
            <img class="flex" src="{% static '/img/icon-home.svg' %}">
          </a>
        {% else %}
          <button class="btn btn-text" type="button" onclick="newChat()">+ 새로운 대화 시작하기</button>
        {% endif %}

        <div>
          <a class="nav_user" href="/profile">{{ user.username }}님</a>
          <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button class="btn btn-text" type="submit">
              <img class="nav_logout" src="{% static '/img/icon-logout.svg' %}">

            </button>
          </form>
        </div>

      </nav>
    {% endif %}

    <div>
      {% block content %}{% endblock %}
    </div>

    {% block script %}{% endblock script %}
  </body>

  <script>
    async function newChat() {
      try {
        const response = await fetch("/chat/new-chat", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
        });
        console.log(response)
      } catch(e) {
        console.log(e)
      }
    }
  </script>

</html>
